.left {
  float: left; }

.right {
  float: right; }

.clear:before,
.clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.container {
  width: 800px;
  margin: 10px auto; }

.toolOptions {
  width: 200px;
  background: lightgray; }
  .toolOptions ul {
    list-style-type: none; }
    .toolOptions ul li a {
      color: darkgray;
      text-decoration: none; }

.paint {
  position: relative;
  left: 200px;
  top: 0; }
  .paint canvas {
    position: absolute;
    top: 1px;
    left: 1px; }
  .paint #paintMe {
    border: 1px solid green; }
